/*Name*/
.name {
  margin-right: 54px;
}
.name input {
  margin: 0px 10px;
  line-height: 1.6;
  margin-right: 31px;
  width: 150px;
}

/*Schedule*/
.schedule {
  display: flex;
  margin-top: 10%;
}

.time-frame {
  margin-right: 3%;
}

.square3 {
  margin-right: 0%;
}
/*Last Purchase Date*/
.lastpurchase {
  margin-right: 105px;
  line-height: 1.6;
}

/* Submit */
/* .submit-btn {
  font-size: 1rem;
  margin: 10px 0px;
} */
