/* Lemon */
.egg {
  height: 25px;
}

/* Trash */
.trashIcon {
  height: 18px;
  margin-top: 2px;
}

.chevron {
  height: 30px;
  margin: 0 0 0 15px;
}

FontAwesomeIcon:hover {
  color: var(--highlight-color);
}

.chevron:hover {
  filter: invert(0.9) sepia(0.1) saturate(50) hue-rotate(180deg);
}

/* Arrow-Left */
.arrow-left {
  display: flex;
  height: 20px;
  margin: 1px 0 0 15px;
}

.to-shopping {
  display: inline-flex;
  text-decoration: none;
  color: black;
  margin-right: 17%;
}

.back-text {
  align-self: center;
  margin-left: 10px;
}

button {
  background: none;
  border: none;
}
