/* Lemon */
.egg {
  height: 25px;
}

/* Trash */
.trashIcon {
  height: 18px;
}

.chevron {
  height: 30px;
  margin: 0 0 0 15px;
}

.chevron:hover {
  filter: invert(0.9) sepia(0.1) saturate(50) hue-rotate(180deg);
}

/* Arrow-Left */
.arrow-left {
  display: flex;
  height: 30px;
  margin: 15px 0 0 15px;
}
.to-shopping {
  display: inline-flex;
  text-decoration: none;
  color: black;
  margin-inline-end: 80%;
}

.back-text {
  align-self: center;
  margin-top: 10px;
  margin-left: 10px;
}
