:root {
  --not-purchased-color: #000;
  --purchased-color: #ff7b00;
  --soon-color: #00aa00;
  --kind-of-soon-color: #1f3a93;
  --not-soon-color: #ff4500;
  --inactive-color: #7e7e7e;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: left;
}

ul li {
  padding: 5px;
  display: flex;
  align-items: center;
  border: solid 1px var(--highlight-color);
  background-color: var(--light-gray);
  margin: 2px;
}

ul li button {
  vertical-align: center;
  border: none;
  background-color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  margin: 0 3px;
  height: 40px;
  width: 40px;
  font-size: 0.9em;
  border-radius: 3px;
}

ul li button:hover {
  background-color: var(--dark-gray);
  border: 1px solid var(--highlight-color);
  color: var(--white);
  font-size: 0.9em;
}

button.soon {
  background-color: var(--soon-color);
}

button.kind-of-soon {
  background-color: var(--kind-of-soon-color);
}

button.not-soon {
  background-color: var(--not-soon-color);
}

button.inactive {
  background-color: var(--inactive-color);
}

.label {
  padding: 0 10px 0 0;
  display: inline-block;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px); /* IE 6 and 7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

.item-name {
  margin: 0 0 0 15px;
  width: 300px;
  text-align: left;
  font-weight: bold;
}

.trash button {
  background-color: var(--highlight-color);
}
