.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* NavButton Component Styles */
.button {
  height: 70px;
  padding: 5px 15px;
  background-color: #ffffff;
  color: #282c34;
  border-radius: 0;
  font-size: 1.25em;
  text-decoration: none;
}
.button:hover {
  text-decoration: underline;
}
.selected {
  background-color: #282c34;
  color: #09d3ac;
}
