@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;400&display=swap');

/* Google Fonts
  font-family: 'Fredoka One', cursive;
  font-family: 'Open Sans', sans-serif;
*/

:root {
  --highlight-color: #09d3ac;
  --light-gray: #cccccc;
  --dark-gray: #282c34;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

p,
legend,
label,
button,
a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* NavButton Component Styles */
nav {
  margin-top: 20px;
}
.button {
  align-items: flex-end;
  height: 70px;
  padding: 5px 15px;
  background-color: #ffffff;
  color: var(--dark-gray);
  border-radius: 0;
  font-size: 1.25em;
  text-decoration: none;
}
.button:hover {
  text-decoration: underline;
}
.selected {
  background-color: var(--dark-gray);
  color: var(--highlight-color);
}
